.side-bar {
   position: fixed;
   right: -100%;
   top: 0;
   width: 400px;
   height: 100vh;
   background-color: #212121;
   transition: 0.3s all;
   z-index: 999999;
   color: #fff;
   padding: 0 20px;
}

.top {
   margin-top: 0.4rem;
   display: flex;
   flex-direction: row-reverse;
   justify-content: space-between;
   align-items: center;
}

.close {
   font-weight: bold;
   font-size: 20px;
}

.products {
   margin-top: 3rem;
}

.products .pro-item {
   margin-top: 1rem;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
}

.products .pro-item .left {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.products .pro-item .left .title {
   margin-top: 5px;
   font-size: 15px;
}

.products .pro-item .left img {
   border: 2px solid #fff;
   border-radius: 50%;
}

.products .pro-item .price {
   color: #fff;
}

.products .pro-item .amount a {
   font-size: 22px;
   background-color: #6b8301;
   padding: 2px 6px;
   border-radius: 3px;
} 

.products .pro-item .amount .number {
   font-size: 18px;
   color: #fff;
}

.products .pro-item .amount span {
   font-size: 22px;
} 

.products .pro-item .amount .dec {
   margin-right: 7px;
   padding-left: 10px;
}

.products .pro-item .amount .inc {
   margin-left: 7px;
}

.products .pro-item .remove {
   font-size: 20px;
   background-color: #ffffffc7;
   width: 27px;
   height: 27px;
   border-radius: 50%;
   color: #000;
   display: flex;
   align-items: center;
   justify-content: center;
   font-weight: bold;
}

.bottom {
   position: absolute;
   text-align: center;
   right: 0;
   bottom: 0;
   width: 100%;
}

.bottom button {
   width: 50%;
   border-radius: 0;
   height: 46px;
   font-size: 17px;
}

.bottom .total {
   display: flex;
   align-items: center;
   justify-content: center;
   font-weight: bold;
   background-color: #ffffff;
   height: 50px;
   color: #000;
   font-size: 20px;
}