button {
   border: none;
   outline: none;
   color: #fff;
   font-size: 14px;
   padding: 10px 30px;
   border-radius: 4px;
   cursor: pointer;
}

button.add {
   background-color: #49018d;
}

button.order {
   background-color: #1475e4;
}

button.clear {
   background-color: #b30687;
}