body.dark {
   background: #2c2c2c;
   color: #fff;
   transition: 0.2s all;
}

body.dark span.price {
   color: #fff;
}

body:not(.dark) {
   transition: 0.2s all;
}

a {
   text-decoration: none;
   color: #fff;
}

ul {
   list-style: none;
}