.search-bar {
   padding-bottom: 1rem;
   margin-top: 1.7rem;
   display: flex;
   flex-direction: row-reverse;
   justify-content: space-between;
   align-items: center;
}

.cart-item {
   background-color: #fff;
   padding: 5px 10px;
   border-radius: 4px;
}

.cart-item .logo {
   margin-right: 8px;
}

.search {
   position: relative;
   display: flex;
   flex-direction: row-reverse;
}

input {
   width: 480px;
   height: 40px;
   font-size: 15px;
   border: none;
   border-radius: 30px;
   padding: 3px 18px;
   position: relative;
}

input:focus {
   border: none;
   outline: none;
}

.search-icon {
   position: absolute;
   right: 20px;
   top: -3px;
   font-size: 36px;
   z-index: 8;
   color: brown;
}

.dark-mode-item {
   background: #000;
   border-radius: 50%;
   width: 35px;
   height: 35px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.dark-mode-item a {
   font-size: 25px;
}

.count {
   color: purple;
   font-weight: bold;
}